:root {
  --bs-gray-200: #6c757d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
.container__header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

li {
  list-style-type: none;
}

a:hover {
  color: #adb5bd;
}

.user {
  display: flex;
}

.sign {
  padding: 7px 15px;
  background-color: white;
  border: 1px solid var(--bs-gray-200);
  border-radius: 7px;
  color: #6c757d;
}

.header__list--regestration {
  padding-left: 10px;
}

.sign:hover {
  background-color: #adb5bd;
  color: white;
}

.nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.list__link--last {
  padding-right: 10px;
}

.list__link--user {
  padding-left: 30px;
  padding-right: 70px;
}

.list__link--one {
  padding-left: 10px;
}
a {
  text-decoration: none;

  color: var(--bs-gray-200);
}

.title-content {
  background-color: #ced4da;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.text__list {
  padding-top: 20px;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.5rem;
}

.block {
  /* display: flex;
  justify-content: space-between; */
  /* display: inline-grid; */
  display: flex;
  /* grid-template-rows: repeat(3); */
  margin-top: 40px;
}

.block__one {
  border: 1px solid var(--bs-gray-200);
  /* display: inline-block; */
  /* display: grid; */
  /* grid-template-columns: repeat(); */
  padding: 20px 20px;
}
.block__two {
  border: 1px solid var(--bs-gray-200);
  /* display: inline-block; */
  /* display: grid; */
  padding: 20px 20px;
}

.block__list {
  font-size: 20px;
}

.block__list--text {
  padding-top: 10px;
  padding-right: 60px;
}

.block__list--text-last {
  padding-top: 50px;
}

.game-block {
  border: #6c757d 1px solid;
  padding: 50px;
  margin-right: 78px;
  width: 100%;
  text-align: center;
}

.list-game__name {
  display: flex;
  justify-content: space-between;
}

.list-game {
  border-top: #6c757d 1px solid;
  padding-top: 50px;
  margin-top: 50px;
}

.popular-card-games {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
